@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$bodyFont: Rubik, sans-serif;

$black: #333;
$green: #caffbf;
$blue: #a0c4ff;
